@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import "leaflet/dist/leaflet.css";

html, body, #__next { height: 100%; }
body { @apply bg-gray-50 text-gray-800; }

.station-item--active { @apply bg-blue-100 border-l-4 border-blue-500; }
